$white: #fff;
$black: #444;
$grey: #68717A;
$light-grey: #F2F2F2;
$sidebar-grey: #F9F9F9;
$main-color: #074E8F;
$green: #52A746;
$light-blue: #0c84e4;
$dark-orange: #D99032;
$orange: #f95800;
$color-danger: #d9534f;

/***********************************
Nokia colors
************************************/
$nokia-blue: #124191;
$nokia-blue-clear: #00C9FF;
$nokia-blue-dark: #001135;

$nokia-gray-light: #EDF2F5;
$nokia-gray-clear: #BEC8D2;
$nokia-gray: #98A2AE;
$nokia-gray-dark: #4D5766;
$nokia-gray-darker: #273142;

$nokia-red: #FF3154;
$nokia-yellow: #FFFB00;
$nokia-green: #4BDD33;

/***********************************
Font-face config
************************************/

@font-face {
  font-family: 'NokiaPureTWebLight';
  src: url('../fonts/NokiaPureTWeb_Lt.eot');
  src: url('../fonts/NokiaPureTWeb_Lt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NokiaPureTWeb_Lt.woff') format('woff'),
  url('../fonts/NokiaPureTWeb_Lt.ttf') format('truetype'),
  url('../fonts/NokiaPureTWeb_Lt.svg#NokiaPureTWebLight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'NokiaPureTWebRegular';
  src: url('../fonts/NokiaPureTWeb_Rg.eot');
  src: url('../fonts/NokiaPureTWeb_Rg.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NokiaPureTWeb_Rg.woff') format('woff'),
  url('../fonts/NokiaPureTWeb_Rg.ttf') format('truetype'),
  url('../fonts/NokiaPureTWeb_Rg.svg#NokiaPureTWebRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'NokiaPureTWebBold';
  src: url('../fonts/NokiaPureTWeb_Bd.eot');
  src: url('../fonts/NokiaPureTWeb_Bd.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NokiaPureTWeb_Bd.woff') format('woff'),
  url('../fonts/NokiaPureTWeb_Bd.ttf') format('truetype'),
  url('../fonts/NokiaPureTWeb_Bd.svg#NokiaPureTWebBold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'nokia_pure_headlinelight';
  src: url('../fonts/nokiapureheadline_light-webfont.woff2') format('woff2'),
  url('../fonts/nokiapureheadline_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'nokia_pure_headlineultraLt';
  src: url('../fonts/nokiapureheadline_ultralight-webfont.woff2') format('woff2'),
  url('../fonts/nokiapureheadline_ultralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

$nokiafont-light: "NokiaPureTWebLight";
$nokiafont-regular: "NokiaPureTWebRegular";
$nokiafont-bold: "NokiaPureTWebBold";
$nokiafonth-light: "nokia_pure_headlinelight";
$nokiafonth-ultra: "nokia_pure_headlineultraLt";


body {
  .btn {
    border-color: #fff;
    border-radius: 300px;
    border: 1px solid;
    color: #fff;
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    padding: 12px 15px;
    text-transform: uppercase;
    transition: all .3s ease;
    &:hover,&:active,&:focus,&:focus-within {
      color: #00173e;
      border-color: #fdcc52;
      background-color: #fdcc52;
    }
  }
  &#demo-landing {
    background: url(../img/demo-landing-background.jpg);
    background-size: 100%;
    header {
      .zina-logo {
        margin: 40px 0;
        width: 100%;
        img {
          width: 100%;
        }
      }
      #gotoZina {
        border: 1px solid rgba(255,255,255,0.4);
        border-radius:5px;
        color: #fff;
        display: inline-block;
        font-family: Lato,Helvetica,Arial,sans-serif;
        font-size: 11px;
        letter-spacing: 2px;
        margin-top:35px;
        padding: 12px 15px;
        text-transform: uppercase;
        transition: all .3s ease;
        &:hover {
          background: rgba(0,0,0,0.5);
          text-decoration: none;
        }
      }
    }
    section {
      &#demo-description {
        #description-container {
          text-align: right;
          span {
            &.description {
              color: white;
              display: block;
              font-family:$nokiafonth-ultra;
              font-size: 36px;
              line-height: 1.2;
              margin-top: 20vh;
            }
          }
          .button-group {
            margin-top: 20px;
            text-align: right;
            figure {
              &.flag {
                display: inline-block;
                width: 30px;
                img {
                  width: 100%;
                }
              }
            }
          }
        }
        #zina-screenshot {
          @media screen and (max-width:991px){
            figure {
              display: none;
            }
          }
          figure {
            text-align: center;
            margin-top:20vh;
            width:100%;
            img {
              width: 90%;
            }
          }
        }
      }
    }
    footer {
      color: rgba(255,255,255,0.75);
      font-size: 1.1em;
      margin-top: 20vh;
    }
  }
}