
.uniForm .jstree ul, .jstree li { display:block; margin:0 0 0 0; padding:0 0 0 0; list-style-type:none; }
.uniForm .jstree li { display:block; min-height:18px; line-height:18px; white-space:nowrap; margin: 0 0 0 18px !important; }
.uniForm .jstree-rtl li { margin-left:0; margin-right:18px; }
.uniForm .jstree > ul > li { margin-left:0px; }
.uniForm .jstree-rtl > ul > li { margin-right:0px; }
.uniForm .jstree ins { display:inline-block; text-decoration:none; width:18px; height:18px; margin:0 0 0 0; padding:0; }
.uniForm .jstree a { display:inline-block; line-height:16px; height:16px; color:black; white-space:nowrap; text-decoration:none; padding:1px 2px; margin:0;}
.uniForm .jstree a:focus { outline: none; }
.uniForm .jstree a > ins { height:16px; width:16px; }
.uniForm .jstree a > .jstree-icon { margin-right:3px; }
.uniForm .jstree-rtl a > .jstree-icon { margin-left:3px; margin-right:0; }
.uniForm li.jstree-open > ul { display:block; }
.uniForm li.jstree-closed > ul { display:none; }