<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ZINA - Workflow Management</title>
  <!-- CSS References -->
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/fileinput.min.css">
  <link rel="stylesheet" href="../static/css/datepicker.css">
  <link rel="stylesheet" href="../static/css/multi-select-2-cols.css">
  <link rel="stylesheet" href="../static/css/bootstrap-multiselect.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/dataTables.bootstrap.css">
  <link rel="stylesheet" href="../static/css/notification/bootstrap-notifications.min.css  ">
  <link rel="stylesheet" href="../static/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/bootstrap-tour.min.css">
</head>
<body>
  <header>
    <nav class="navbar fwc" id="navbar" style="z-index: 1000000;">
      <section class="top-logo">
        <div class="nav-bar-logo">
          <a href="#">
            <img src="../static/img/logoZina-Blanco.png">
          </a>
        </div>
      </section>
      <section class="top-icons">
        <div class="dropdown pull-right">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenu-config" data-toggle="dropdown">
          <span class="glyphicon glyphicon-info-sign"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
          </ul>
        </div>
        <div class="dropdown pull-right">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenu-config"
          data-toggle="dropdown">
          <span class="glyphicon glyphicon-cog"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span
            class="glyphicon glyphicon-wrench"></span> Settings</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-lock"></span> Change password</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-off"></span> Log out</a></li>
          </ul>
        </div>
        <div class="dropdown show pull-right dropdown-notifications" id="id-notification-panel">
          <a class="btn dropdown-toggle"  id="id-button-notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-count="" data-total="" class="glyphicon glyphicon-bell" id="id-notification-icon"></i></a>
          <div class="dropdown-menu dropdown-container notification_box" id="notification-box-id" aria-labelledby="id-button-notifications">
            <div class="dropdown-toolbar">
              <div class="dropdown-toolbar-actions">
                  <a href="#" data-count-unread id="mark-all-as-read-id">Mark all as read</a>
              </div>
              <h3 class="dropdown-toolbar-title"><span id="span-total-unread">5</span> unread notifications</h3>
            </div>
            <ul class="dropdown-menu notification-list">
            </ul>
            <a href="{% url notifications:notification_list %}">
              <div class="dropdown-footer text-center not-footer">View All</div>
            </a>
          </div>
        </div>
        <div class="pull-right hello">
          Welcome, <strong>ZINA User</strong>
        </div>
      </section>
      <section class="top-central">
          <div class="hide" id="global-search-top"></div>
              <span id="getting-started"></span>
          </div>
      </section>
    </nav>
    <div id="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 logo">
            <a class="title" href="#">
              <img src="../static/img/logoZina.png" class="zinawfm-logo">
            </a>
          </div>
          <div class="col-md-7" id="global-search">
            <div class="input-group">
              <div class="input-group-btn btn-filtre">
                <button class="btn dropdown-toggle" id="dropdown_select" data-toggle="dropdown" aria-expanded="false">
                  Select filter <i class="fa fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li class="search_option">
                    <a data-value="" data-name="" href="">-----------</a>
                  </li>
                  <li class="search_option">
                    <a data-name="Schedule" href="">Schedule</a>
                  </li>
                  <li class="search_option">
                    <a data-name="Site" href="">Site</a>
                  </li>
                  <li class="search_option">
                    <a data-name="Work Package" href="">Work Package</a>
                  </li>
                  <li class="search_option">
                    <a data-name="VOA" href="">VOA</a>
                  </li>
                  <li class="search_option">
                    <a data-name="Proposal" href="">Proposal</a>
                  </li>
                  <li class="search_option">
                    <a data-name="Proposal Package" href="">Proposal Package</a>
                  </li>
                  <li class="search_option">
                    <a data-name="CPO" href="">CPO</a>
                  </li>
                  <li class="search_option">
                    <a data-name="SSR" href="">SSR</a>
                  </li>
                  <li class="search_option">
                    <a data-name="SMR" href="">SMR</a>
                  </li>
                  <li class="search_option">
                    <a data-name="ZI" href="">ZI</a>
                  </li>
                  <li class="search_option">
                    <a data-name="WBS" href="">WBS</a>
                  </li>
                  <li class="search_option">
                    <a data-name="Invoices" href="">Invoices</a>
                  </li>
                  <li class="search_option">
                    <a data-name="LPR" href="">LPR</a>
                  </li>
                  <li class="search_option">
                    <a data-name="SPO" href="">SPO</a>
                  </li>
                </ul>
              </div>
              <input type="text" class="form-control" id="bs_search_input" placeholder="Select a filter first..." title="please select filter first" data-placement="bottom">
              <span class="input-group-btn btn-search">
                <button class="btn btn-default" id="bs_search_button"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section id="main-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-lg-2">
          <div id="MainMenu">
              <div id="sidebar" class="sidebar-nav span3"  style="height: 60vh;background: white;border: #e5e5e5 solid 1px;">
                <ul class="nav nav-tabs nav-stacked">
                  <ul id="ul_basis" class="dropdown-menu">
                    <li class="dropdown-submenu">
                      <a href="#" tabindex="-1">Robotic Process Automation RPA</a><span class="glyphicon glyphicon-chevron-right"></span>
                      <ul class="dropdown-submenu-container doble" id="contractMenuBox">
                        <li class="dropdown-submenu-subitems col-md-6">
                          <span>SPO</span>
                          <ul>
                            <li><a href="data-importer-scratchpo.html">Scratch PO Creation</a></li>
                            <li><a href="data-importer-scratchalign.html">SPO Alignment in IPM</a></li>
                          </ul>
                          <br>
                          <span>WBS</span>
                            <ul>
                              <li><a href="data-importer-wbs.html">Massive WBS Creation</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu-subitems col-md-6">
                          <span>B2B SPO</span>
                          <ul>
                            <li><a href="data-importer-calloff.html">B2B SPO with Post-SSR</a></li>
                          </ul>
                          <br>
                          <span>ZI Partner</span>
                          <ul>
                            <li><a href="data-importer-zimassive.html">Massive ZI Partner Creation</a></li>
                            <li><a href="data-importer-ziupdate.html">ZI Update</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="#" tabindex="-1">Customer Purchase Orders</a><span class="glyphicon glyphicon-chevron-right"></span>
                      <ul class="dropdown-submenu-container single" id="contractMenuBox">
                        <li class="dropdown-submenu-subitems col-md-12">
                          <span>CPO</span>
                          <ul>
                            <li><a href="cpo-inbox.html">All Customer Purchase Orders</a></li>
                            <li><a href="cpo-detail.html">CPO Detail</a></li>
                            <li><a href="cpo-item.html">CPO Item</a></li>
                            <!-- <li><a href="http://127.0.0.1:8321/reports/customer_purchase_orders/">CPO Report</a></li> -->
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="#" tabindex="-1">CRIA Tool</a><span class="glyphicon glyphicon-chevron-right"></span>
                      <ul class="dropdown-submenu-container doble" id="contractMenuBox">
                        <li class="dropdown-submenu-subitems col-md-6">
                          <span>CRIA Tool</span>
                          <ul>
                            <li><a href="cria-inbox.html">CRIA Tool Inbox</a></li>
                            <li><a href="cria-detail-billable.html">CR Detail</a></li>
                          </ul>
                          <br>
                          <!-- <span>Reports</span>
                            <ul>
                              <li><a href="http://127.0.0.1:8321/cria_tool/cria_tool_report/">Change Requests Report</a></li>
                            <li><a href="http://127.0.0.1:8321/cria_tool/cria_tool_workflow_approval_report/">Approval Report</a></li>
                            </ul> -->
                        </li>
                        <li class="dropdown-submenu-subitems col-md-6">
                          <span>CR SPO</span>
                          <ul>
                            <li><a href="data-importer-scratchpo.html">Create Scratch PO for Change Request</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </ul>
              </div>
            </div>
        </div>
        <div class="col-md-9 col-lg-10">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <ol class="breadcrumb">
                  <li><a href="">Home</a></li>
                  <li class="active">Customer Purchase Orders</li>
                </ol>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h1>Customer Purchase Orders</h1>
              </div>
            </div>
            <!-- Contents -->
            <div class="row">
              <div class="col-md-12">
                <div class="collapse in" id="displayFilter1">
                  <div class="panel with-nav-tabs panel-default">
                      <div class="panel-body">
                          <div class="tab-content">
                              <div class="tab-pane fade in active" id="tab1default">
                                  <div class="row">
                                      <form>
                                          <div class="col-md-3 form-group">
                                              <label for="">CPO number:</label>
                                              <input type="text" name="cpo_number" id="search_cpo_number" class="column_filter form-control filter" pattern="" title="" tabindex="4">
                                          </div>
                                          <div class="col-md-3 form-group">
                                              <label for="">Customer:</label>
                                              <select name="customer_team" id="select_customer_team" class="form-control filter" tabindex="5">
                                                  <option value="">------------</option>
                                                  
                                                      <option value="17">Customer Team 1</option>
                                                  
                                                      <option value="14">Customer Team 2</option>
                                                  
                                                      <option value="22">Customer Team 3</option>
                                                  
                                              </select>
                                          </div>
                                          <div class="col-md-3">
                                              <label for="">Date start</label>
                                              <div class="input-group">
                                                  <input type="text" name="" id="min" class="form-control dpicker filter" data-date-format="yyyy-mm-dd" value="" pattern="" title="" tabindex="6">
                                                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                              </div>
                                          </div>
                                          <div class="col-md-3">
                                              <label for="">Date end</label>
                                              <div class="input-group">
                                                  <input type="text" name="" id="max" class="form-control dpicker filter" value="" data-date-format="yyyy-mm-dd" pattern="" title="" tabindex="7">
                                                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                              </div>
                                          </div>
                                      </form>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-12 text-right form-inline">
                                          <a href="/cpos/"><button type="button" id="reset_filter" class="btn btn-danger"><span class="glyphicon glyphicon-refresh"></span> Reset filter</button></a>
                                          <button type="button" id="filter_button" class="btn btn-success"><span class="glyphicon glyphicon-search"></span> Filter</button>
                                      </div>
                                  </div>
                                  
                              </div>
                              <div class="tab-pane fade" id="tab2default">Default 2</div>
                              <div class="tab-pane fade" id="tab3default">Default 3</div>
                              <div class="tab-pane fade" id="tab4default">Default 4</div>
                              <div class="tab-pane fade" id="tab5default">Default 5</div>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="tile-box-padding">
                  <div class="text-right">
                    
                    <div class="col-md-12 " style="padding: 0;">
                      <div class="dropdown pull-right">
                        <div class="btn-group menu-dropdown" id="select_change_status">
                          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fa fa-list-ul"></i> Actions <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu pull-right">
                            <li><a role="menuitem" tabindex="-1" href="/cpos/correction_needed/" id="select_change_status_rejected">
                              <span class="glyphicon glyphicon-th-list"></span> List correction needed items</a>
                            </li>
                            <li><a role="menuitem" tabindex="-1" href="/cpos/rejected_list/" id="select_change_status_rejected">
                              <span class="glyphicon glyphicon-th-list"></span> List rejected CPOs</a>
                            </li>
                            
                            <li><a role="menuitem" tabindex="-1" href="#" id="select_change_status_accepted">
                              <span class="glyphicon glyphicon-check"></span> Accept Selected CPOs</a>
                            </li>
                            <li><a role="menuitem" tabindex="-1" href="#" id="select_change_status_rejected">
                              <span class="glyphicon glyphicon-minus"></span> Reject Selected CPOs</a>
                            </li>
                            
                            
                            <li><a role="menuitem" tabindex="-1" href="/cpos/add_manually/" id="select_change_status_rejected">
                              <span class="glyphicon glyphicon-plus"></span> Reject Selected CPOs</a>
                            </li>
                            
                          </ul>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  <br>
                  <div class="row">
                  </div>
                  <br>
                  <div id="id_error_cpos_status" class="alert alert-danger" hidden=""></div>
                  <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="cpo_table">
                      <thead>
                        <tr>
                          
                          <th><input type="checkbox" name="select_all_cpos" id="select_all_cpos" tabindex="8"></th>
                          
                          
                          <th>Aging</th>
                          
                          <th>CPO number</th>
                          <th>Contract</th>
                          
                          <th>Customer</th>
                          <th>Plant</th>
                          <th>Received Date</th>
                          <th>CPO Date</th>
                          <th>CPO Status</th>
                        </tr>
                      </thead>
                      <tbody id="not_taken_cpo_table">
                        
                        
                        <tr>
                          
                          <td class="text-center">
                            <input type="checkbox" name="cpos_for_accept" value="390483" tabindex="9">
                          </td>
                          
                          
                          <td class="text-center"><div class="zd-label zd-label-mediumseagreen"><i class="fa fa-check-circle"></i></div></td>
                          
                          <td class="text-center"><a href="cpo-detail.html">1234567890</a></td>
                          <td class="text-center">23517</td>
                          
                          <td>Customer Team 1</td>
                          <td class="text-center">CO81</td>
                          <td class="text-center">2018-01-05</td>
                          <td class="text-center">2018-01-30</td>
                          <td class="text-center"></td>
                        </tr>
                        
                        
                        
                        <tr>
                          
                          <td class="text-center">
                            <input type="checkbox" name="cpos_for_accept" value="394879" tabindex="10">
                          </td>
                          
                          
                          <td class="text-center"></td>
                          
                          <td class="text-center"><a href="cpo-detail.html">1345678902</a></td>
                          <td class="text-center">None</td>
                          
                          <td>Customer Team 2</td>
                          <td class="text-center">None</td>
                          <td class="text-center">2018-01-29</td>
                          <td class="text-center">2018-01-29</td>
                          <td class="text-center"></td>
                        </tr>
                        
                        
                        
                        <tr>
                          
                          <td class="text-center">
                            <input type="checkbox" name="cpos_for_accept" value="394875" tabindex="11">
                          </td>
                          
                          
                          <td class="text-center"></td>
                          
                          <td class="text-center"><a href="cpo-detail.html">1456789230</a></td>
                          <td class="text-center">4600022123</td>
                          
                          <td>Customer Team 3</td>
                          <td class="text-center">ALU3</td>
                          <td class="text-center">2018-01-29</td>
                          <td class="text-center">2018-01-29</td>
                          <td class="text-center"></td>
                        </tr>
                        
                        
                        
                        <tr>
                          
                          <td class="text-center">
                            <input type="checkbox" name="cpos_for_accept" value="394878" tabindex="12">
                          </td>
                          
                          
                          <td class="text-center"></td>
                          
                          <td class="text-center"><a href="cpo-detail.html">1567890234</a></td>
                          <td class="text-center">4600022123</td>
                          
                          <td>Customer Team 3</td>
                          <td class="text-center">ALU3</td>
                          <td class="text-center">2018-01-29</td>
                          <td class="text-center">2018-01-29</td>
                          <td class="text-center"></td>
                        </tr>
                        
                        
                        
                        <tr>
                          
                          <td class="text-center">
                            <input type="checkbox" name="cpos_for_accept" value="394885" tabindex="13">
                          </td>
                          
                          
                          <td class="text-center"></td>
                          
                          <td class="text-center"><a href="cpo-detail.html">1678902345</a></td>
                          <td class="text-center">4600024402</td>
                          
                          <td>Customer Team 3</td>
                          <td class="text-center">ALU3</td>
                          <td class="text-center">2018-01-29</td>
                          <td class="text-center">2018-01-29</td>
                          <td class="text-center"></td>
                        </tr>
                        
                        
                        
                        <tr>
                          
                          <td class="text-center">
                            <input type="checkbox" name="cpos_for_accept" value="394886" tabindex="14">
                          </td>
                          
                          
                          <td class="text-center"></td>
                          
                          <td class="text-center"><a href="cpo-detail.html">1789023456</a></td>
                          <td class="text-center">4600024402</td>
                          
                          <td>Customer Team 3</td>
                          <td class="text-center">ALU3</td>
                          <td class="text-center">2018-01-29</td>
                          <td class="text-center">2018-01-29</td>
                          <td class="text-center"></td>
                        </tr>
                        
                        
                        
                        
                        
                      </tbody>
                    </table>
                    <div>
                      <span class="step-links">
                        <div class="text-center">
                          <ul class="pagination">
                            <li>
                              
                            </li>
                            <li class="active"><a class="page-link" data-page="1" href="">1</a></li>
                            <li><a class="page-link" href="" data-page="2">2</a></li><li><a class="page-link" href="" data-page="3">3</a></li><li class="ellipsis disabled"><a href="">...</a></li><li><a class="page-link" data-page="5919" href="">10</a></li>
                            <li>
                              
                              <a class="page-link" data-page="2" href="" aria-label="Next">
                                <span aria-hidden="true">Next</span>
                              </a>
                              
                            </li>
                          </ul>
                        </div>
                        <span class="current">
                          Showing page 1 of 58.
                        </span>
                      </span>
                    </div>
                  </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 col-xs-6">
          <span><a class="copyright" href="https://intranet.nokia.com/sites/global/Pages/Home.aspx"></a></span>
        </div>
        <div class="col-md-2 pull-right logoFooter col-xs-6">
          <a href=" http://company.nokia.com/en" target="-blank">
            <img src="../static/img/NOKIA_LOGO_WHITE.png" alt="Powered by NOKIA">
          </a>
        </div>
      </div>
  </div>
  </footer>
  <script src="../static/js/jquery-1.10.2.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/bootbox.min.js"></script>
  <script src="../static/js/multiple_select_all.js"></script>
  <script src="../static/js/bootstrap-datepicker.js"></script>
  <script src="../static/js/fileinput.min.js"></script>
  <script src="../static/js/jstree.js"></script>
  <script src="../static/js/transport_tracking_tool.js"></script>
  <script src="../static/js/bootstrap-multiselect.js"></script>
  <script src="../static/js/jquery.quicksearch.js"></script>
  <script src="../static/js/jquery.inputmask.bundle.min.js"></script>
  <script src="../static/js/search_dropdown_controller.js"></script>
  <script src="../static/js/app.js"></script>
  <script src="../static/js/multiple_choice_field.js"></script>
  <script src="../static/js/serialize_object.js"></script>
  <script src="../static/js/jquery.dataTables.min.js"></script>
  <script src="../static/js/dataTables.bootstrap.min.js"></script>
  <script src="../static/js/notifications/push.js"></script>
  <script src="../static/js/notifications/createjs-2015.11.26.min.js"></script>
  <script src="../static/js/js.cookie.js"></script>
  <script src="../static/js/bootstrap-tour.min.js"></script>

  <script>
    $(function(){
      $('#min, #max').datepicker();
    });
  </script>
  <script>
    $(window).scroll(function(){
      var win =$(window).scrollTop();
      $("#global-search-top .input-group").detach().appendTo('#global-search');
    })
  </script>
</body>
</html>